In [7]:
import pandas as pd

In [8]:
dpol = pd.read_csv('data/Data-politics.csv')
dedu = pd.read_csv('data/Data-education.csv')
dfoo = pd.read_csv('data/Data-food&drinks.csv')
dspo = pd.read_csv('data/Data-sports.csv')
dtec = pd.read_csv('data/Data-technology.csv')
dent = pd.read_csv('data/Data-entertainment.csv')

In [9]:
dpol

,no,text,location,interest
0,1,Malaysia I would argue has in its constitution...,NaN,Politics
1,2,Khairy plays devil's advocate with Azmin | 9 A...,NaN,Politics
2,3,STICKING POINT: A clear sign that racial polit...,NaN,Politics
3,4,@dom_lucre Elon muppet. Lives in Malaysia but ...,NaN,Politics
4,5,@dom_lucre I've never like Ian Miles Choeng. W...,NaN,Politics
...,...,...,...,...
2180,2181,"to be truely honest, BB is such a hated"" brand...",NaN,Politics
2181,2182,@sayyedalifkhan A politician in Malaysia! ðŸ˜‚ðŸ˜‚ðŸ˜‚ ...,NaN,Politics
2182,2183,@TSDMujeebudeen While politician in Malaysia s...,NaN,Politics
2183,2184,@jorjxz Sri Lanka: Asshole politician flees. M...,NaN,Politics
2184,2185,As a politician originating from Umno once the...,NaN,Politics

In [10]:
states = [
    "Johor", "Kedah", "Kelantan", "Melaka", "Negeri Sembilan", "Pahang",
    "Perak", "Perlis", "Pulau Pinang", "Sabah", "Sarawak", "Selangor", "Terengganu",
    "Kuala Lumpur", "Labuan", "Putrajaya"
]

In [11]:
# Function to find state names in text and set in location column
def find_state(text):
    for state in states:
        if state.lower() in text.lower():
            return state
    return ""

In [12]:
dpol['location'] = dpol['text'].apply(find_state)
dedu['location'] = dedu['text'].apply(find_state)
dspo['location'] = dspo['text'].apply(find_state)
dfoo['location'] = dfoo['text'].apply(find_state)
dtec['location'] = dtec['text'].apply(find_state)
dent['location'] = dent['text'].apply(find_state)

In [20]:
dpol['location'].unique()

array(['', 'Kedah', 'Terengganu', 'Sarawak', 'Selangor', 'Sabah',
       'Kuala Lumpur', 'Pahang', 'Kelantan', 'Pulau Pinang', 'Putrajaya',
       'Melaka', 'Johor', 'Perlis', 'Perak'], dtype=object)

In [21]:
print(dpol.location.unique().tolist())

['', 'Kedah', 'Terengganu', 'Sarawak', 'Selangor', 'Sabah', 'Kuala Lumpur', 'Pahang', 'Kelantan', 'Pulau Pinang', 'Putrajaya', 'Melaka', 'Johor', 'Perlis', 'Perak']

In [47]:
# dpol.to_csv('data/state/Data-politics-state.csv')
# dedu.to_csv('data/state/Data-education-state.csv')
# dspo.to_csv('data/state/Data-sports-state.csv')
# dfoo.to_csv('data/state/Data-food-state.csv')
# dtec.to_csv('data/state/Data-tech-state.csv')
# dent.to_csv('data/state/Data-entertainment-state.csv')