In [49]:
import pandas as pd
import re
import string
import nltk
from langdetect import detect  # Import the language detection module
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

# # Download NLTK data (if not already downloaded)
# nltk.download('punkt')
# nltk.download('stopwords')

In [6]:
# Load the CSV file into a pandas DataFrame
df_edu = pd.read_csv('../data/state/Data-education-state.csv',encoding='unicode_escape')

In [7]:
df_edu

,text,location,interest
0,Going to a technology conference in Kuala Lumpur,Kuala Lumpur,Technology
1,Watching a football match in Johor Bahru,Johor,Sports
2,Trying a famous local food in Penang,NaN,Food
3,Attending a music concert in Kuala Lumpur,Kuala Lumpur,Entertainment
4,Following the latest political news in KL,NaN,Politics
...,...,...,...
5064,Who remembers the old school Nintendo Game Boy...,Kuala Lumpur,Education
5065,"Hey there, rockstar medics! ?? Just wanted to ...",Kuala Lumpur,Education
5066,"In primary school, that DAMN monkey from dasav...",Kuala Lumpur,Education
5067,Year 7s were today introduced to what their P...,Kuala Lumpur,Education
5068,my day job is school and my hobby when i get h...,Kuala Lumpur,Education

In [26]:
text = df_edu['text'][672]
text

'2023 International Medical University (IMU) Scholarship For International Students  Apply Linkâ\x86\x99ï¸\x8f https://t.co/b0ugHDKdNC  Host Country: Malaysia  Study level: â\x80¢ Bachelor degree  Eligible Countries: All countries  Benefits:  â\x9c\x85RM4,000 â\x80\x93  RM12,000  Deadline: September 2023 https://t.co/zMBlS4J7HM'

In [27]:
def clean_text(text):
    # Remove URLs (http/https links)
    text = re.sub(r'http\S+', '', text)

    # Remove special characters and non-alphanumeric characters
    text = re.sub(r'[^a-zA-Z0-9\s]', '', text)

    # Remove extra spaces and leading/trailing spaces
    text = ' '.join(text.split())

    return text

In [28]:
text = clean_text(text)
text

'2023 International Medical University IMU Scholarship For International Students Apply Link Host Country Malaysia Study level Bachelor degree Eligible Countries All countries Benefits RM4000 RM12000 Deadline September 2023'

In [29]:
text = text.lower()
text

'2023 international medical university imu scholarship for international students apply link host country malaysia study level bachelor degree eligible countries all countries benefits rm4000 rm12000 deadline september 2023'

In [30]:
text = text.translate(str.maketrans('', '', string.punctuation))
text

'2023 international medical university imu scholarship for international students apply link host country malaysia study level bachelor degree eligible countries all countries benefits rm4000 rm12000 deadline september 2023'

In [31]:
tokens = word_tokenize(text)
tokens

['2023',
 'international',
 'medical',
 'university',
 'imu',
 'scholarship',
 'for',
 'international',
 'students',
 'apply',
 'link',
 'host',
 'country',
 'malaysia',
 'study',
 'level',
 'bachelor',
 'degree',
 'eligible',
 'countries',
 'all',
 'countries',
 'benefits',
 'rm4000',
 'rm12000',
 'deadline',
 'september',
 '2023']

In [32]:
stop_words = set(stopwords.words('english'))
filtered_tokens = [word for word in tokens if word not in stop_words]
filtered_tokens

['2023',
 'international',
 'medical',
 'university',
 'imu',
 'scholarship',
 'international',
 'students',
 'apply',
 'link',
 'host',
 'country',
 'malaysia',
 'study',
 'level',
 'bachelor',
 'degree',
 'eligible',
 'countries',
 'countries',
 'benefits',
 'rm4000',
 'rm12000',
 'deadline',
 'september',
 '2023']

In [33]:
cleaned_text = ' '.join(filtered_tokens)
print(cleaned_text)

2023 international medical university imu scholarship international students apply link host country malaysia study level bachelor degree eligible countries countries benefits rm4000 rm12000 deadline september 2023

In [51]:
# Assuming the text column in your CSV is named 'text_column', you can loop through it
for index, row in df_edu.iterrows():
    text = row['text']  


    # Use langdetect to detect the language of the text
    try:
        language = detect(text)
    except:
        language = "unknown"  # Handle cases where language detection fails

    if language == 'en' :
        text = clean_text(text)
        # Lowercasing
        text = text.lower()

        # Removing punctuation
        text = text.translate(str.maketrans('', '', string.punctuation))

        # Tokenization
        tokens = word_tokenize(text)

        # Removing stopwords
        stop_words = set(stopwords.words('english'))
        filtered_tokens = [word for word in tokens if word not in stop_words]

        # Convert the filtered tokens back to a cleaned text
        cleaned_text = ' '.join(filtered_tokens)

        # Update the 'text' column in your dataframe with the cleaned text
        df_edu.at[index, 'text'] = cleaned_text
    else :
        # Handle non-English text, e.g., you can choose to skip or flag it
        df_edu.at[index, 'text'] = 'non_english_text'

# Save the dataframe to a new CSV file
df_edu.to_csv('../data/clean/edu_cleaned_data.csv', index=False)

TypeError: string indices must be integers, not 'str'